body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('ls1.jpg');
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    color: white;
}

h1 {
    font-size: 4rem; /* Increase font size */
    margin-bottom: 20px;
    color: #0e98d4; /* Change font color to white */
    text-shadow: 4px 4px 8px rgba(15, 12, 12, 0.5); /* Add text shadow */
}

.links a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(198, 33, 33);
    text-decoration: none;
    border-radius: 10px;
}

.links a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.links a[href*="github"] img {
    width: 25px; /* Adjust width to desired size */
    height: auto; /* Maintain aspect ratio */
}
.links a[href*="linkedin"] img {
    width: 25px; /* Adjust width to desired size */
    height: auto; /* Maintain aspect ratio */
}
.links a[href*="gmail"] img {
    width: 25px; /* Adjust width to desired size */
    height: auto; /* Maintain aspect ratio */
}
.bio {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #fff;
    max-width: 80%;
    margin: 0 auto 30px; 
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.5); /* Add shadow */

}
