body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('ls1.jpg');
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    color: white;
}

h1 {
    font-size: 4rem; /* Increase font size */
    margin-bottom: 20px;
    color: #0e98d4; /* Change font color to white */
    text-shadow: 4px 4px 8px rgba(15, 12, 12, 0.5); /* Add text shadow */
}

.links a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.links a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
